<div class="navbar">
    <div class="navbar__content">
        <div class="navbar__content-logo">
            <div class="navbar__content-logo__left">
                <p class="navbar__content-logo__left-text"><span style="color:rgb(203, 203, 0);">J</span>2<span style="color:blue;">Ts</span></p>
            </div>
            <div class="navbar__content-logo__right">
                <div class="navbar__content-logo__right-title">
                    <p class="navbar__content-logo__right-title-text">Json to Typescript</p>
                </div>
                <div class="navbar__content-logo__right-description">
                    <p class="navbar__content-logo__right-description-text">Easly convert your json mock into Typescript typings</p>
                </div>
            </div>
        </div>

        <div class="navbar__content-actions">
            <button class="navbar__content-actions-action" (click)="navigate('https://github.com/json-2-ts/json2ts')"><img class="github" src="assets/github.svg">GitHub</button>
            <button class="navbar__content-actions-action" (click)="navigate('https://www.npmjs.com/package/@dellarosamarco/json-2-ts')"><img class="npm" src="assets/npm.svg">NPM Package</button>
        </div>
    </div>
</div>
