<div class="navbar">
    <div class="navbar__content">
        <div class="navbar__content-logo">
            <div class="navbar__content-logo__left">
                <p class="navbar__content-logo__left-text"><span style="color:rgb(203, 203, 0);">J</span>2<span style="color:blue;">Ts</span></p>
            </div>
            <div class="navbar__content-logo__right">
                <div class="navbar__content-logo__right-title">
                    <p class="navbar__content-logo__right-title-text">Json to Typescript <span class="navbar__content-logo__right-title-text--subtitle">(@dellarosamarco/json-2-ts)</span></p>
                </div>
                <div class="navbar__content-logo__right-description">
                    <p class="navbar__content-logo__right-description-text">Easly convert your json mock into Typescript typings</p>
                </div>
            </div>
        </div>

        <div class="navbar__content-actions">
            <button class="navbar__content-actions-action" (click)="navigate('https://github.com/json-2-ts/json2ts')"><img class="github" src="assets/github.svg">GitHub</button>
            <button class="navbar__content-actions-action" (click)="navigate('https://www.npmjs.com/package/@dellarosamarco/json-2-ts')"><img class="npm" src="assets/npm.svg">NPM Package</button>
        </div>
    </div>
</div>


<div class="content">
    <div class="content-section">
        <div class="content-section__title">
            <p class="content-section__title-text">Installation</p>
        </div>
    </div>
    <div class="code-viewer">
        <p class="code"><span class="code-default">npm i --save @dellarosamarco/json-2-ts</span></p>
    </div>

    <div class="content-section">
        <div class="content-section__description">
            <p class="content-section__description-text">Package.json : </p>
        </div>
    </div>
    <div class="code-viewer">
        <p class="code"><span class="code-string">"devDependencies"</span><span class="code-default"> : {{ "{" }}</span></p>
        <p class="code">&nbsp; &nbsp; &nbsp; <span class="code-default">...</span></p>
        <p class="code">&nbsp; &nbsp; &nbsp; <span class="code-default">"@dellarosamarco/json-2-ts" : </span><span class="code-string">"^1.1.4"</span></p>
        <p class="code"><span class="code-default">{{ "}" }}</span></p>
    </div>
    
    <div class="content-section">
        <div class="content-section__title">
            <p class="content-section__title-text">Usage</p>
        </div>
    </div>
    <div class="code-viewer">
        <p class="code"><span class="code-default"><span class="code-keyword">import</span> {{ "{" }} <span class="code-value">JsonReader</span> {{ "}" }} <span class="code-keyword">from</span><span class="code-string"> "@dellarosamarco/json-2-ts"</span>;</span></p>
        <p class="code"><span class="code-default"><span class="code-keyword">import</span><span class="code-value"> * </span><span class="code-keyword">as</span><span class="code-value"> fs </span><span class="code-keyword">from</span><span class="code-string"> "fs"</span>;</span></p>
        <br>
        <p class="code"><span class="code-keyword">const </span><span class="code-default">data = {{ "{" }}</span></p>
        <p class="code">&nbsp; &nbsp; <span class="code-string">"id" <span class="code-default">:</span> "640e2a4f3bb10c4d5924b377"</span><span class="code-default">,</span></p>
        <p class="code">&nbsp; &nbsp; <span class="code-string">"isActive" <span class="code-default">:</span></span><span class="code-value"> true</span><span class="code-default">,</span></p>
        <p class="code">&nbsp; &nbsp; <span class="code-string">"tags" <span class="code-default">:</span></span><span class="code-default"> [</span></p>
        <p class="code">&nbsp; &nbsp; &nbsp; <span class="code-default">{{ "{" }}</span></p>
        <p class="code">&nbsp; &nbsp; &nbsp; &nbsp; <span class="code-string">"id" <span class="code-default">:</span></span><span class="code-value"> 1</span><span class="code-default">,</span></p>
        <p class="code">&nbsp; &nbsp; &nbsp; &nbsp; <span class="code-string">"name" <span class="code-default">:</span> "entertainment"</span></p>
        <p class="code">&nbsp; &nbsp; &nbsp; <span class="code-default">{{ "}," }}</span></p>
        <p class="code">&nbsp; &nbsp; &nbsp; <span class="code-default">{{ "{" }}</span></p>
        <p class="code">&nbsp; &nbsp; &nbsp; &nbsp; <span class="code-string">"id" <span class="code-default">:</span></span><span class="code-value"> 2</span><span class="code-default">,</span></p>
        <p class="code">&nbsp; &nbsp; &nbsp; &nbsp; <span class="code-string">"name" <span class="code-default">:</span> "simulation"</span></p>
        <p class="code">&nbsp; &nbsp; &nbsp; <span class="code-default">{{ "}" }}</span></p>
        <p class="code">&nbsp; &nbsp; <span class="code-default"> ],</span></p>
        <p class="code">&nbsp; &nbsp; <span class="code-default">...</span></p>
        <p class="code"><span class="code-default">{{ "}" }}</span></p>
        <br>
        <p class="code"><span class="code-keyword">const </span><span class="code-default">interfaces = <span class="code-value">JsonReader</span>.</span><span class="code-function">convert(<span class="code-default">data</span>)</span><span class="code-default">;</span></p>
        <p class="code"><span class="code-comment">// (string) → export interface ...</span></p>
        <br>
        <p class="code"><span class="code-default"><span class="code-value">fs</span>.<span class="code-function">writeFile(<span class="code-string">"./types.d.ts"</span><span class="code-default">, interfaces</span>)</span>;</span></p>
    </div>
    <div class="content-section">
        <div class="content-section__title">
            <p class="content-section__title-text">Live Preview</p>
        </div>
    </div>
    <div class="editors-container">
        <json-editor [data]="getData()" (convert)="onConvert($event);" (error)="onError($event)"></json-editor>
        <json-editor [data]="interfaces" [isReadonly]="true"></json-editor>
    </div>
</div>

<div class="footer">
    <p class="footer-description">Made By <span><a target="_blank" href="https://www.linkedin.com/in/marcodellarosa/">Marco Della Rosa</a></span></p>
</div>